.virtual-reality__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 88px;
}

.virtual-reality__content {
  max-width: 460px;
}

.virtual-reality__content-flex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.virtual-reality__title {
  margin-bottom: 36px;
  font-weight: 700;
}

.virtual-reality__title_type-1 {
  background: linear-gradient(91.57deg, #C0B7E8 -1.02%, #8176AF 36.25%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 46px;
  line-height: 56px;
}

.virtual-reality__title_type-2 {
  font-size: 40px;
  line-height: 49px;
}

.virtual-reality__description {
  margin-bottom: 66px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.virtual-reality__button {
  transition: background 0.3s ease;
  border: none;
  border-radius: 40px;
  margin-right: 40px;
  padding: 17px 43px;
  background: linear-gradient(var(--gradient));
  cursor: pointer;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: var(--dark);
}

.virtual-reality__icon {
  width: 42px;
  height: 33px;
}

.virtual-reality__image-container {
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  border-bottom-left-radius: 240px;
  padding: 14px 18px 15px 16px;
  background: var(--shadowBox);
}

.virtual-reality__image {
  max-width: 100%;
  height: auto;
}

.virtual-reality__contacts,
.virtual-reality__contacts-block-1,
.virtual-reality__contacts-block-2,
.virtual-reality__contacts-block-3 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.virtual-reality__contacts {
  border-radius: 90px;
  background: radial-gradient(50% 2900.76% at 50% 53.89%, rgba(58, 52, 86, 0.95) 0%, #211E2E 100%);
  height: 167px;
}

.virtual-reality__contacts-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}

.virtual-reality__contacts-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.virtual-reality__contacts-block-1 {
  border-right: 1px solid #C0B7E854;
  height: 116px;
}

.virtual-reality__contacts-block-2 {
  border-right: 1px solid #C0B7E854;
  height: 116px;
}

.virtual-reality__contacts-block-3 {
  height: 116px;
}

.virtual-reality__contacts-icon-1 {
  width: 70px;
  height: 70px;
}

.virtual-reality__contacts-icon-2 {
  margin-right: 29px;
  width: 59px;
  height: 59px;
}

.virtual-reality__contacts-icon-3 {
  margin-right: 23px;
  width: 65px;
  height: 65px;
}


.virtual-reality__contacts-block-1 {
  padding: 49px 42px 58px 39px;
}
.virtual-reality__contacts-block-2 {
  padding: 56px 66px 58px 47px;
}
.virtual-reality__contacts-block-3 {
  padding: 50px 80px 58px 50px;
}

.virtual-reality__contacts-item {
  display: grid;
  justify-items: flex-start;
  align-items: center;
}